<HTML>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="Stylesheet" href="../css/bootstrap.css">
    
    <title>GregorShow</title>
 </head>
  
 <body>
    <div class="container-fluid">
    <div id="header">
       <div id="logo"><h1>GregorShow (docelowo ma być tu logo, ale narazie tylko tekścik) :D </h1></div>
    </div>
    <div>
        <div class="form-inline">
            <a href="../views/DJ.html"><img  src="../pictures/dj-png.png" class="png"></a>
            <a href="../views/video.html"><img  src="../pictures/video-img.png" class="png"></a>
            <a href="../views/photo.html"><img src="../pictures/aparat-png.png" class="png"></a>
        </div>
     </div>
    <footer id="stopka"><img src="../pictures/icons/icon-phone-24px.png" alt="ikona telefonu"><img src="..//pictures/icons/icon-whatsapp-24px.png"> +48 123-456-789<img src="..//pictures/icons/icon-facebook-24px.png" a href="www.facebook.pl" Mój FB><img src="../pictures/icons/icon-instagram-24px.png" alt="link do instagram" a href="www.instagram.com" Mój IG><img src="..//pictures/icons/icon-youtube-24px.png" a href="www.youtube.com" alt="link do youtube" Mój YT>
        </footer>
    </div>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    </body>
</HTML>    