<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="shortcut icon" img src="video-jpeg" />

    <title>GregorShow</title>
    
 </head>
  
 <body>
    <div id="header">
       <div id="logo"><h1>GregorShow (docelowo ma być tu logo, ale narazie tylko tekścik) :D </h1></div>
    </div>
    <div>
        <div id="menu">
            <ul>
                <li id="DJ"><a href="link"><img  src="dj-png.png" class="png" height="150px" ; width="150px" ; ></a></li>
                <li id="Video"><a href="link"><img  src="video-img.png" class="png" height="150px" ; width="150px" ; ></a></li>
                <li id="Photo"><a href="link"><img src="aparat-png.png" class="png" height="150px" ; width="150px"></a></li>
            </ul>
        </div>
    </divb>
    <footer id="stopka">Miejsce na dane kontatkowe oraz social media(FB)(IG)(YT)</footer>

    </body>
 </html>