<HTML>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="Stylesheet" href="../Content/style.css">
    <title>GregorShow</title>
 </head>
  
 <body>
    <div id="header">
       <div id="logo"><h1>GregorShow (docelowo ma być tu logo, ale narazie tylko tekścik) :D </h1></div>
    </div>
    <div>
        <div id="menu">
            <ul>
                <li id="DJ"><a href="../views/DJ.html"><img  src="../pictures/dj-png.png" class="png"></a></li>
                <li id="Video"><a href="../views/video.html"><img  src="../pictures/video-img.png" class="png"></a></li>
                <li id="Photo"><a href="../views/photo.html"><img src="../pictures/aparat-png.png" class="png"></a></li>
            </ul>
        </div>
     </divb>
    <footer id="stopka"><img src="../pictures/ikona-telefon-24px.png" alt="ikona telefonu"><img src="../pictures/ikona-whatsapp-24px.png"> +48 123-456-789 Miejsce na dane kontatkowe oraz social media<img src="../pictures/icons/icon-facebook-24px.png" a href="www.facebook.pl"
        >(IG)(YT)</footer>
     
    </body>
</HTML>    