<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="Stylesheet" href="../Content/style.css">
    <link rel="Stylesheet" href="../css/bootstrap.css">
    <title>Photo</title>
    <link rel="shortcut icon" href="../pictures/icons/ikona_głośnik.png">
</head>
<body>
    <div class="container-fluid">
        <div class="page-header">
            <h1>GregorShow (docelowo ma być tu logo)</h1>
        </div>
        <div>
             <h2>Photo</h2>
        </div>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="../views/DJ.html">DJ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../views/video.html">Video</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../views/photo.html">Photo</a>
            </li>
        </ul>
        </div>
        <div class="container">
            <div class="row">
                    <div class="col-sm-12">
                    <div class="page-header">Tytuł wpisu</div>>
                    </div>
            </div>
            <div class="row">
                    <div class="col-sm-12">
                    <h1>dsadasdasdasdsadasd</h1>
                    </div>
            </div>
            <div class="row">
                    <div class="col-sm-4">
                    <img src="..//pictures/aparat-jpg.jpg">
                    </div>
                    <div class="col-sm-4">
                    <img src="../pictures/aparat-jpg.jpg">
                    </div>
                    <div class="col-sm-4">
                    <img src="../pictures/aparat-jpg.jpg">
                    </div>
            </div>
        </div>
    </div>
    <footer id="stopka"><img src="../pictures/icons/icon-phone-24px.png" alt="ikona telefonu"><img src="..//pictures/icons/icon-whatsapp-24px.png">
        +48 123-456-789<img src="..//pictures/icons/icon-facebook-24px.png" a href="www.facebook.pl" Mój FB><img src="../pictures/icons/icon-instagram-24px.png"
            alt="link do instagram" a href="www.instagram.com" Mój IG><img src="..//pictures/icons/icon-youtube-24px.png"
            a href="www.youtube.com" alt="link do youtube" Mój YT>
    </footer>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>
</html>