<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="Stylesheet" href="../css/bootstrap.css">
    <script src="../scripts/pageChanger.js"></script>
    <title>Video</title>
</head>
<body>
    <div id="header">
        <div id="logo">
            <h1>GregorShow Wideo Producer</h1>
        </div>
    <div id="article">
        <h2>Witam witam witam witam witam witam</h2>
        <iframe class="embed-responsive-item" width="512" height="310" src="https://www.youtube.com/embed/3JWaHYiYeE8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <button type="button" class="btn btn-info" onclick="homeView()">Wstecz</button>
</body>
</html>